.App{
  text-align: center;
  display: flex;
  flex-direction: column;

..todos{
  max-width: 450px;
  width: 100%;
}






.todo{
  background-color: #212D32;
  color: #909094;
}















.actions i{
  background-color: #909094;
  color: #212D32;

  padding: 5em;
  border-radius: 5%;
}